body {
    display: flex;
    margin: 0;
    overflow: hidden;
}

.photo-content {
    background-size: cover;
    background-image: url("neom-IPtSV340-j4-unsplash.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    overflow:hidden;
}

#odin-text {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    bottom: 20vh;
    height: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.479);
    color: white;
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.odin-logo {
    width: 50px;
    margin-right: 20px;
}

.photo-content {
    height: 100vh;
    width: 40vw;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    background-color: whitesmoke;
    width: 60vw;
}

.container > p {
    margin-left: 50px;
}

.top-descr {
    padding: 5px;
    width: 50%;
    font-weight: 700;
}

form {
    width: 100%;
}

.form-inputs{
    width: 100%;
    /* border: solid 1px; */
    padding: 20px;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.082);
}

#section1 {
    margin-top: 20px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
}

#section2 {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 15px;
}

#section1 > div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 40%;
}

h2 {
    padding: 0;
    margin-left: 40px;
}

button {
    padding: 10px 30px;
    border: 0;
    background-color: rgb(197, 128, 0);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.267);
    border-radius: 10px;
    color: white;
}

a {
    text-decoration: none;
    color: rgb(197, 128, 0);
}

input {
    border: solid 1px;
    border-color: #E5E7EB;
    border-radius: 2px;
    width: 70%;
    height: 20px;
}

.credit {
    color: rgb(197, 128, 0);
}

#photo-credit {
    position: absolute;
    bottom: 5px;
    color: white;
}

